*{
    margin: 0; 
    padding: 0;
    font-family: Open Sans, arial;
    box-sizing: border-box;
}

body {background-color: #ddb}


#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

header img {
    width: 100%;
    display: block;
}

nav {
    overflow: hidden;
    
}

nav a {
    display: block;
    width: 25%;
    float:left;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    background-color: darkcyan;
    padding: 15px 30px;
    -webkit-transition:all 1s ease;
    transition: all 1s ease;
    
}

a.menu:hover{
    background-color: crimson;
}

.active {background-color: crimson}

article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 0 0 0;
}

@media (max-width: 800px) {
    nav a {
        width: 50%;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    nav a {
        width: 100%;
    }
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;   
}

img.left {
    float: left;
    margin: 10px 10px 10px 0;
    width: 25%;
    border-radius: 50%;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
    padding: 15px 0;
    
    
}

iframe {
    width: 100%;
}

footer {
    height: 40px;
    background-color: darkcyan;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
    
}

footer:active {
    background-color: black;
    color: crimson;
}

footer:after {
    
    content: "*"
    color: white;
    height: 40px;
}



@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin-top: 3em;
  background-color: #F5B1AC; 
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  color: #6D59A7;
  text-shadow: 3px 0px 0px white;
  margin-bottom: 50px;
}



.posty {
    
    width: 800px;
    margin: auto;
    padding: 20px 0 0 0;
}

.container {
    background: url(tlo.JPG);
    background-size: 100%;
    background-attachment: fixed;
    width: 1000px;
    margin: auto;
    padding: 0 0 0 0;
}



.main-content {
    
    width: 50%;
    float: left;
    padding: 20px 15px 20px 25px;
    
}

.sidebar {
    
    width: 50%;
    float: left;
    padding: 20px 15px 20px 25px;
}

.content{
    
    overflow: auto;
}

p {
    font-family: sans-serif;
    color: black;
    text-align: justify;
   
}

h1.news {
    border-bottom: 5px solid aquamarine;
    color: aquamarine;
    text-align: center;
    padding: 5px;
    
    
}

p.omnie{
    
    margin-right: 20px;
}

form {
   padding: 15px;
}

.content {
    
    
    margin: auto;
    margin-bottom: 10px;
}

label {
    width: 30%;
    text-align: end;
    display: block;
    float: left;
    margin-right: 20px;
}

form input, form select, form textarea{
    
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    
}

.row {
    margin:auto;
    margin-bottom: 10px;
    width: 50%;
}

#rules {
    
    position: relative;
    left: 20%;
    width: auto;
}

span {
    
    position: relative;
    left: 20%;
}

.row1 {
    margin: auto;
    width: 15%;
    text-align: center;
    cursor: pointer;
    
}


p.easter {
    
    font-weight:700;
    
}

input.row2 {
    
    background-color: aqua;
}

form input[type="submit"] {
    
    width: 200px;
    background-color: black;
    color: white;
    font-weight: 700;
    -webkit-transition:all 1s ease;
    transition: all 1s ease;
}

form input[type="submit"]:hover{
    background-color: crimson;
    
    
}

input:disabled{
    background-color: red;
    
}

input:not(disabled){
    background-color:azure;
    
}















